/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

body * {
  /* border: 1px solid green; */
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 700;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

.language-bar {
  display: flex;

  align-items: center;
  justify-content: right;
  height: 2rem;
  max-width: 75rem;
  margin: 0 auto;
}

.language-bar-wrapper {
  background: white;
  padding: 0.3rem;

}

.language {
  margin-right: 1.25rem;
  display: flex;

  
}

.logo-wrapper {
  display: block;
  width: 20%;
  justify-content: space-between;
  margin-right: auto;
  /* margin: 0 auto 0 0; */
  /* margin-right: auto;
  margin-left: 20%; */
}

.nav-wrapper {
  /* min-width: 100%; */
  background: #00286e;
  padding: 0.30rem;
}

nav {
  /* min-width: 80%; */
  margin-right: auto;
  max-width: 75rem;
  /* margin-right: 20%; */
  /* margin-left: 20%; */
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  font-size: 1.1rem;
  padding: 1rem 0;
  color: #ffffff;
  text-transform: uppercase;
}

.nav-list {
  /* margin-right: 20%; */
  width: fit-content;
}

ul {
  display: flex;
}

li {
  display: flex;
  justify-content: flex-end;
  padding: 0.75rem  1.25rem;
}

.news-and-main-container {
  position: absolute;
  top: 7.75rem;
}

.news-banner {
  display: flex;
  height: 14rem;
  background: #2895d5;
  color: white;
}

.news-container {
  max-width: 75rem;
  width: 100%;
  /* min-width: 75rem; */
  display: flex;
  margin: 0 auto;
}

.news-article-container {
  width: 100%;
  /* max-width: 75rem; */
  /* margin-left: 20%; */
  /* margin: 0 auto; */
  padding: 2.75rem 0;
}

.news-button {
  margin: 1rem;
  height: 3rem;
  /* margin: 0 20% 0 auto; */
  justify-self: center;
  border-radius: 2rem;
  border:  solid #00286e;
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
  background: #00286e;
}

h1 {
  width: 35rem;
  font-size: 2rem;
}

.news-article-container p {
  width: 40rem;
  line-height: 1.5rem;
  margin: 1rem 0;
  font-weight: 100;
  font-size: 1.25rem;
}

.button-container {
  /* max-width: 30%; */
  /* margin-right: 20%; */
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: right;
  /* justify-content: flex-end; */
}

.news-button {
width: 150px;
/* display: flex; */
text-align: center;

/* padding: auto; */
/* margin: 5rem auto; */
/* margin: 20%; */
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hidden {
  display: none;
}

.scroll-bar {
  z-index: 1000;
  transition: transform 0.5s;
  transition-timing-function: ease-out;
  position: fixed;
  /* left: 20rem; */
  width: 100%;
}

.nav-hidden {
  transform: translateY(-8.25rem);
  box-shadow: none;

}

.points-wrapper {
  height: 100vh;
}

.point {
  width: 5rem;
  height: 5rem;
}

.point-1 {
  position: absolute;
  left: 0;
  top: 0;
}

.point-2 {
  position: absolute;
  right: 0;
  top: 0;
}

.point-3 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.point-4 {
  position: absolute;
  left: 0;
  bottom: 0;
}